/* You can add global styles to this file, and also import other style files */
@import "primeicons/primeicons.css";


body{
    margin: 0;
}

$yellow-color: #FFC107;
$dark-gray: #333;
$light-gray: #f4f4f4;
$border-radius: 8px;
$input-padding: 12px;

.title-page{
    font-size: 1.2rem;
    font-weight: bold;
    color: $dark-gray ;
}