$yellow-color: #FFC107;
$dark-gray: #333;
$light-gray: #f4f4f4;
$border-radius: 8px;
$input-padding: 12px;

.container-loading{
    height: 6px;
}
.container-page{
    padding: 16px 16px;
}
.content-list{
    display: grid;
    max-width: 400px;
    row-gap: 16px;
}

.item{
    border-radius: $border-radius;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 2px;
    padding: 12px 16px;
    align-items: center;
    background: white;
    .title{
        color: $dark-gray;
        font-size: 1.2rem;
        font-weight: bold;
    }

    p{
        margin: 0;
        color: $dark-gray;
    }
    .section-text{
        display: grid;
        row-gap: 12px;
        .text-info{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 12px 16px;
        }
    }
    .actions-btns{
        margin-top: 12px;
        display: flex;
        justify-content: flex-end;
    }
    .content-progress-bar{
        height: 6px;
        margin-top: 12px;
    }
}

.container-no-list{
    margin-top: 80px;
    display: grid;
    border: 1px solid $yellow-color;
    background-color: white;
    place-content: center;
    text-align: center;
    border-radius: $border-radius;
    padding: 24px;
    row-gap: 12px;
    p{
        font-size: 1.2rem;
        color: $dark-gray;
    }
    
}